<div class="tech-btm">
<p>Teknoloji, Yazılım ve Diğerleri...</p>
<form asp-controller="NewsLetter" asp-action="SubscribeMail" method="post">
    <input type="email" placeholder="Email" required="" name="Mail">
    <input type="submit" value="Kayıt Ol">
</form>
</div>
