@using EntityLayer.Concrete
@model List<Blog>

<div class="tech-btm">
    <h4>Yazarın Son Postları</h4>
@foreach (var item in Model.Take(3))
{  
    <div class="blog-grids row mb-3">
        <div class="col-md-5 blog-grid-left">
            <a asp-controller="Blog" asp-action="BlogReadAll" asp-route-id="@item.BlogId">
                <img src="~/CoreBlogTheme/images/1.jpg" class="img-fluid" alt="">
            </a>
        </div>
        <div class="col-md-7 blog-grid-right">

            <h5>
                <a asp-controller="Blog" asp-action="BlogReadAll" asp-route-id="@item.BlogId">@item.BlogTitle </a>
            </h5>
            <div class="sub-meta">
                <span>
                    <i class="far fa-clock"></i>@item.CreateDate.ToShortDateString()</span>
            </div>
        </div>

    </div>
}
</div>